body
{
	padding-top: 100px;

}

@media screen and (max-width:767px) {
	body {
		padding-top: 300px;
	}
}

@media screen and (max-width:991px) and (min-width:768px) {
	body {
		padding-top: 200px;
	}
}

.container
{
	margin-left: 5%;
}

a
{
	color: grey
}

a .active
{
	color: white;
}

a .non-active
{
	opacity: 0.1;
	pointer-events: none;
	cursor: default;	
}

.active
{
	color: blue;
}

label
{
	margin-left: 10px;
	color: blue;
	
}

.presentation
{
	padding-top: 10px;
}
